body {
    margin: 0;
    padding: 0;
    background: white;
    min-width: 200px;
    text-align: center;
    padding-right: 400px;
    padding-left: 400px;

}
.eyes {
    text-align: center;
    margin: auto;
    width: 60%;
    position: absolute;
    top: 700px;
    left: 300px;
    border-color: green;
    border-width: 20px;
}
.eye {
    width: 240px;
    height: 120px;
    background: black;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

}
.ball {
    width: 40px;
    height: 40px;
    background: rgb(255, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 15px solid white;
}